extends ../layout

block content
    div(class="container")
        div(class="m-0 p-0 d-flex")
            div(class="w-25 mt-5")
                a(class="btn btn-outline-success m-2" href="/locations/create") Créer une annonces
                a(class="btn btn-outline-success m-2" href="/locations/create") Créer une annonces
                a(class="btn btn-outline-success m-2" href="/locations/create") Créer une annonces
                a(class="btn btn-outline-success m-2" href="/locations/create") Créer une annonces
            div(class="w-75")
                h2(class="mt-5")
                    i(class="fas fa-sign me-2")
                    .
                        Listes de biens a louer
                table(class="table mt-5 w-100")
                    thead
                        tr
                            th(scope="col") #
                            th(scope="col") titre
                            th(scope="col" class="w-50") Addresse
                            th(scope="col") actions
                    tbody
                        tr
                            th(scope="row") 1
                            td Appartement À Louer
                            td CALLE HAWAI, 03189 VILLAMARTIN, ORIHUELA COSTA, Espagne
                            td
                                a(class="btn btn-outline-success me-2") Editer
                                a(class="btn btn-danger ") delete
                        tr
                            th(scope="row") 1
                            td Appartement À Louer
                            td CALLE HAWAI, 03189 VILLAMARTIN, ORIHUELA COSTA, Espagne
                            td
                                a(class="btn btn-outline-success me-2") Editer
                                a(class="btn btn-danger ") delete
                        tr
                            th(scope="row") 1
                            td Appartement À Louer
                            td CALLE HAWAI, 03189 VILLAMARTIN, ORIHUELA COSTA, Espagne
                            td
                                a(class="btn btn-outline-success me-2") Editer
                                a(class="btn btn-danger ") delete

