extends ../layout
block content
    .container
        h2(class="mt-5 mb-5") dashboard
        div(role="alert" aria-live="assertive" aria-atomic="true" class="toast bg-dark" data-bs-autohide="false")
           
