extends layout

block content
        div(class="container h-100 d-flex flex-column justify-content-center align-content-center")
            div(class="h-50 d-flex justify-content-center align-items-center border border-danger text-danger")
                strong(class="me-2") 404
                .
                    Not found
            a(href="/" class="btn btn-primary") Home