extends ../layout

block content
    div(class="container")
        div(class="m-0 p-0 row")
            div(class="px-3 col-12 col-xl-2 mt-5")
                a(class="d-xl-block mx-1 btn btn-outline-success my-1" href="/utilisateurs/create") Ajouter un utilisateur
            div(class="px-xl-3 col-12 col-xl-10")
                if message
                    div(class="toast align-items-center text-white bg-success border-0 w-100" role="alert" aria-live="polite" aria-atomic="true")
                        div(class="d-flex mt-5")
                            div(class="toast-body")= message
                            button(type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close")
                h2(class="mt-5")
                    i(class="fas fa-users-cog me-2")
                    .
                        Liste des utilisateurs
                table(class="table mt-5 w-100")
                    thead
                        tr
                            th(scope="col") #
                            th(scope="col") Pseudo
                            th(scope="col" class="w-50") Email
                            th(scope="col") Action
                    tbody
                        each user , key  in users
                            tr
                                th(scope="row")= key+1
                                td= user.username
                                td= user.local.email
                                td
                                    form(method="get" action="/utilisateurs/"+user._id)
                                        button(class="btn btn-danger") Supprimer
    script.
        var myAlert = document.querySelector('.toast');//select id of toast
        var bsAlert = new bootstrap.Toast(myAlert, {autohide: false});//inizialize it
        bsAlert.show();//show it